/**
 * Hoot Customizer
 * ========================================================
 */


/*** Premium USe ***/

.hoot-display-premiumuse .wp-full-overlay-sidebar { width: 640px; }
/*.hoot-display-premiumuse .wp-full-overlay.expanded { margin-left: 600px; }*/
.hoot-display-premiumuse  #customize-preview { opacity: .4; }

/** Premium Section **/

#customize-control-premium-use {}
#hoot-psection { text-align: center; }
.hoot-psection {}
.hoot-psection > h1.centered { padding: 0; text-transform: uppercase; }
.hoot-psection > h1.centered span { display: block; font-size: 1.2em; }
.hoot-psection > h1.centered strong { font-weight: bold; color: #0073aa; }
.hoot-upsell-intro {}
.hoot-upsell-cta {}
.pcontent-actions { border: solid 1px #ddd; padding: 15px 0; background: #f5f5f5; }
.pcontent-actions .button { /*line-height: 36px;*/ height: 34px; padding: 3px 17px 4px; text-transform: uppercase; font-size: 13px; border-radius: 0; }
.pcontent-actions .button-primary { text-shadow: 1px 1px 1px #000; margin-right: -2px; box-shadow: none !important; }
.pcontent-actions .button-secondary { border-color: #999; box-shadow: inset 2px 0px 3px 0px rgba(0,0,0,0.25) !important; }
.pcontent-top { box-shadow: 0 -1px 4px rgba(0,0,0,0.2); margin-bottom: 0; }
.pcontent-bottom { box-shadow: 0 1px 4px rgba(0,0,0,0.2); margin-top: 0; }
.hoot-psection-content { box-shadow: 0 1px 4px rgba(0,0,0,0.2); background: #fff; padding: 0 10px; }

.premium-info { border-bottom: solid 1px #ddd; padding: 30px 0; }
.premium-info:last-child { border-bottom: none; }

.premium-info {}
.premium-info-img {}
.premium-info-img img {}
.premium-info-textblock {}
.premium-info-heading h4 { font-size: 1.7em; line-height: 1em; margin: 1em 0 0.5em; font-weight: normal; text-transform: uppercase; }
.premium-info-text {}
.premium-info-text hr { border: transparent; margin: 8px 0; }

@media only screen and (max-width: 640px) {	
}